.biggest-part {
    .container {
        .biggest-part__inner {
            display: flex;
            justify-content: space-between;
            // column-gap: ;
        }
    }
}

@media only screen and (max-width: 1068px) {
    .biggest-part {
        .container {
            .biggest-part__inner {
                align-items: center;

                .selections {
                    margin: 0 auto;
                }
                .configure__list {
                    display: none;
                }

                .selection__configuration {
                    margin-left: 0;
                }
            }
        }
    }
}
@media only screen and (max-width: 754px) {
    .form__actions {
        display: flex;
        flex-direction: column;
        column-gap: 0;

        .congihuration__label {
            max-width: 700px;
            width: 100%;
        }
            
        .configuration__controller {
            max-width: 700px;
            width: 100%; 
       }

        .configuration__label + .configuration__label {
            margin-top: 16px;
        }
    }
}