.footer {
    margin-bottom: 135px;
    width: 100%;

    .container {
        
        .footer__inner {
            display: flex;
            align-items: center;
            background-color: #2C343E;
            padding: 27px 85px;
            // justify-content: space-between;
            column-gap: auto;
            // padding: 47px 85px;

            .nav {
                margin-left: 103px;
                // width: 100%;
                .nav__list {

                    .nav__item {

                        .nav__link {

                            &--active {
                                color: #FEFCF7;
                            }

                            &:hover {
                                color: #FEFCF7;
                            }

                        }
                    }
                }
            }

            .socials {

                display: flex;
                list-style-type: none;
                margin-left: auto;

                .socials__item {

                    // &+& {
                    //     margin-left: 24px;
                    // }

                    .socials__link {
                        path {
                            transition: fill 0.3s ease;
                        }
                    }

                    .socials__link:hover {
                        path {
                            fill: #FDD6BA;
                            transition: fill 0.3s ease;
                        }
                    }
                }

                .socials__item + .socials__item {
                    margin-left: 24px;
                }
            }
        }
    }
}

@media only screen and (max-width: 1020px) {
    .footer {
        .container {
            .footer__inner {
                align-items: center;
                flex-direction: column;
                padding: 54px auto;

                .logo-link {
                    margin-bottom: 32px;
                }
        
                .nav {
                    margin-left: 0;
                    margin-bottom: 65px;
                }
        
                .socials {
                    padding-left: 0;
                    align-items: center;
                    margin: 0;
                    margin-left: 0;

                    .socials__item + .socials__item {
                        margin-left: 24;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 604px) {
    .footer {
        .container {
            .footer__inner {
                padding: 54px 0;

                .logo-link {
                    margin-bottom: 48.5px;

                    .logo-link__image {
                        max-width: 218px;
                        width: 100%;
                    }
                }

                .nav {
                    .nav__list {
                        flex-direction: column;

                        .nav__item {
                            margin-left: 0;
                            margin-bottom: 24px;
                        }
                    }
                }
            }
        }
    }
}