.why {
    .container {
        
        // height: 577px;
        margin-bottom: 351px;

        .why__inner {
            align-items: center;
            background-color: #2C343E;
            border-radius: 10px;
        }
    }

    &__title {
        font-family: 'Fraunces', serif;
        font-style: normal;
        font-weight: 900;
        font-size: 40px;
        color: #FEFCF7;
        text-align: center;
        margin: 0 auto;
        padding-top: 100px;
    }

    &__p {
        max-width: 540px;
        font-family: "Barlow", sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        text-align: center;
        color: #FEFCF7;
        opacity: 0.8;
        padding-top: 32px;
        margin: 0 auto;
    }

    &__blocks {
        width: 100%;
        position: static;
        transform: translateY(40%);
        padding: 0 85px;
        display: flex;
        column-gap: 30px;
        align-items: center;
        // margin: 0 auto;
        margin-bottom: 200px;

        .why__block {
            align-items: center;
            background-color: #0E8784;
            border-radius: 8px;
            width: 350px;
            height: 382px;
            vertical-align: middle;

            .block__icon {
                display: flex;
                margin: 0 auto;
                margin-top: 72px; 
                /* margin: 0 auto; */
                vertical-align: middle;
                // width: 10px;
                /* height: 72px; */

                
            }

            .special {
                margin-bottom: 47px;
            }

            

            .block__title {
                font-family: 'Fraunces', serif;
                font-style: normal;
                font-weight: 900;
                font-size: 24px;
                text-align: center;
                color: #FEFCF7;
                margin-bottom: 24px;
            }
            
            .block__p {
                display: block;
                // vertical-align: middle;
                font-family: 'Barlow', sans-serif;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                text-align: center;
                color: #FEFCF7;
                height: 78px;
                /* width: 258px; */
                // width: 255px;
                padding: 0 47.5px;
            }
            
        }
    }
}

@media only screen and (max-width: 1324px) {
    .why__blocks {
        padding: 0 auto;
    }
}